<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="HeaderFragment"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<header class="bg-white py-4">
    <div class="container mx-auto px-4">
        <nav class="flex items-center justify-between">
            <a href="#" class="text-lg font-bold text-gray-800">Calo Check</a>
            <ul class="flex space-x-4">
                <li><a href="#" class="text-gray-600 hover:text-gray-800">Home</a></li>
                <li><a href="#" class="text-gray-600 hover:text-gray-800">Search</a></li>
                <li><a href="#" class="text-gray-600 hover:text-gray-800">Log</a></li>
                <li><a href="#" class="text-gray-600 hover:text-gray-800">Community</a></li>
                <li><a href="#" class="text-gray-600 hover:text-gray-800">My Page</a></li>
                <li><a href="/member/login" sec:authorize="isAnonymous()" class="text-gray-600 hover:text-gray-800">Login</a></li>
                <li><a href="/member/join" sec:authorize="isAnonymous()" class="text-gray-600 hover:text-gray-800">Sign Up</a></li>

                <a href="javascript:;" sec:authorize="isAuthenticated()"
                   onclick="$(this).next().submit();" class="text-gray-600 hover:text-gray-800">Logout</a>
                <form th:action="|/member/logout|" method="POST"></form>
            </ul>
        </nav>
    </div>
</header>
</body>
</html>