<html layout:decorate="~{common/layout/defaultLayout.html}" xmlns:layout="" data-theme="corporate">
<head>
    <title>장바구니</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- 라이브러리 CSS 불러오기 -->
    <link rel="stylesheet" href="/resource/library/library.css">

    <meta th:if="${error}" name="errorMsg" th:content="${exception}"/>

    <meta th:if="${@rq.isLogin()}" name="currentUsername" th:content="${@rq.getMember().getUsername()}"/>
    <meta th:if="${@rq.isLogout()}" name="currentUsername" th:content="no"/>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<body>
<main layout:fragment="Content">
    <div class="flex-1 flex flex-col items-center">
        <div class="max-w-3xl w-full px-4 py-4 flex flex-col m-4 justify-center">
            <div class="flex justify-center flex-col">
                <div class="flex justify-center">
                    <h1 class="font-bold text-black text-sm mb-4">
                        식사 후 영양정보
                    </h1>
                </div>
                <div class="flex justify-center mb-4 text-xs">
                    챙겨먹는 것도 중요하지만 과하지 않은 것도 중요해요.
                </div>

                <div class="flex m-2 mx-3 flex-row justify-between" th:each="calcNutrient : ${calcNutrients}">
                    <div>
                        <i class="fa-solid fa-circle" style="color:#b2c615"
                           th:if="${calcNutrient.getName().equals('단백질')}"></i>
                        <i class="fa-solid fa-circle" style="color:#121882"
                           th:if="${calcNutrient.getName().equals('탄수화물')}"></i>
                        <i class="fa-solid fa-circle" style="color:#401f0d"
                           th:if="${calcNutrient.getName().equals('지방')}"></i>
                        <i class="fa-solid fa-circle" style="color:#16b629"
                           th:if="${calcNutrient.getName().equals('칼슘')}"></i>
                        <i class="fa-solid fa-circle" style="color:#f55600"
                           th:if="${calcNutrient.getName().equals('나트륨')}"></i>
                        <i class="fa-solid fa-circle" style="color:#16bed4"
                           th:if="${calcNutrient.getName().equals('칼륨')}"></i>
                        <i class="fa-solid fa-circle" style="color:#121af2"
                           th:if="${calcNutrient.getName().equals('마그네슘')}"></i>

                        <span id="nutrientData" class="text-xs font-bold inline-block m-2 w-48"
                              th:text="${calcNutrient.getName()} + '(g)'"></span>
                    </div>
                    <div class="flex text-sm">
                        <div class="flex" th:if="${calcNutrient.getName().equals('단백질') ||
                                      calcNutrient.getName().equals('탄수화물') ||
                                      calcNutrient.getName().equals('지방')}">
                            <i th:if="${-10 <= calcNutrient.getValue() && calcNutrient.getValue() <= 10}"
                               class="text-lg fa-solid fa-square-check text-green-600"></i>
                            <i th:if="${!(-10 <= calcNutrient.getValue() && calcNutrient.getValue() <= 10)}"
                               class="text-lg fa-solid fa-triangle-exclamation text-red-700"></i>
                            <div class="m-2" th:text="${#numbers.formatDecimal(calcNutrient.value, 1, 1)}"></div>
                        </div>
                        <div class="flex" th:if="${calcNutrient.getName().equals('칼슘')}">
                            <i th:if="${-0.2 <= calcNutrient.getValue() && calcNutrient.getValue() <= 0.2}"
                               class="text-lg fa-solid fa-square-check text-green-600"></i>
                            <i th:if="${!(-0.2 <= calcNutrient.getValue() && calcNutrient.getValue() <= 0.2)}"
                               class="text-lg fa-solid fa-triangle-exclamation text-red-700"></i>
                            <div class="m-2" th:text="${#numbers.formatDecimal(calcNutrient.value, 1, 2)}"></div>
                        </div>
                        <div class="flex" th:if="${calcNutrient.getName().equals('나트륨')}">
                            <i th:if="${-0.3 <= calcNutrient.getValue() && calcNutrient.getValue() <= 0.3}"
                               class="text-lg fa-solid fa-square-check text-green-600"></i>
                            <i th:if="${!(-0.3 <= calcNutrient.getValue() && calcNutrient.getValue() <= 0.3)}"
                               class="text-lg fa-solid fa-triangle-exclamation text-red-700"></i>
                            <div class="m-2" th:text="${#numbers.formatDecimal(calcNutrient.value, 1, 2)}"></div>
                        </div>
                        <div class="flex" th:if="${calcNutrient.getName().equals('칼륨')}">
                            <i th:if="${-0.5 <= calcNutrient.getValue() && calcNutrient.getValue() <= 0.5}"
                               class="text-lg fa-solid fa-square-check text-green-600"></i>
                            <i th:if="${!(-0.5 <= calcNutrient.getValue() && calcNutrient.getValue() <= 0.5)}"
                               class="text-lg fa-solid fa-triangle-exclamation text-red-700"></i>
                            <div class="m-2" th:text="${#numbers.formatDecimal(calcNutrient.value, 1, 2)}"></div>
                        </div>
                        <div class="flex" th:if="${calcNutrient.getName().equals('마그네슘')}">
                            <i th:if="${-0.08 <= calcNutrient.getValue() && calcNutrient.getValue() <= 0.08}"
                               class="text-lg fa-solid fa-square-check text-green-600"></i>
                            <i th:if="${!(-0.08 <= calcNutrient.getValue() && calcNutrient.getValue() <= 0.08)}"
                               class="text-lg fa-solid fa-triangle-exclamation text-red-700"></i>
                            <div class="m-2" th:text="${#numbers.formatDecimal(calcNutrient.value, 1, 3)}"></div>
                        </div>

                    </div>
                </div>
                <div class="flex justify-center mt-2 text-xm">
                    (나의 권장량 - 오늘 먹은 양 - 지금 먹게되는 양)
                </div>

            </div>

            <div class="divider"></div>
            <form id="addMenuForm"
                  class="flex flex-col gap-6"
                  method="POST"
                  enctype="multipart/form-data"
                  th:action="@{/cartFoodInfo/addMenu}">
                <div>
                    <div class="flex flex-col">
                        <div class="flex justify-center">
                            <h1 class="font-bold text-black text-sm mb-4">
                                분류
                            </h1>
                        </div>

                        <div class="btn-group flex flex-row justify-center">
                            <input type="radio" name="mealType" data-title="아침" value="breakfast"
                                   class="btn btn-secondary"/>
                            <input type="radio" name="mealType" data-title="점심" value="lunch"
                                   class="btn btn-secondary"/>
                            <input type="radio" name="mealType" data-title="저녁" value="dinner"
                                   class="btn btn-secondary"/>
                            <input type="radio" name="mealType" data-title="기타" value="etc" class="btn btn-secondary"/>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>
                <div>
                    <div class="flex flex-col">
                        <div class="flex justify-center">
                            <h1 class="font-bold text-black text-sm mb-4">
                                식단 점수
                            </h1>
                        </div>

                        <div class="flex justify-center rating rating-lg">
                            <input type="radio" name="menuScore" value=1 class="mask mask-star-2 bg-orange-400"/>
                            <input type="radio" name="menuScore" value=2 class="mask mask-star-2 bg-orange-400"/>
                            <input type="radio" name="menuScore" value=3 class="mask mask-star-2 bg-orange-400"/>
                            <input type="radio" name="menuScore" value=4 class="mask mask-star-2 bg-orange-400"/>
                            <input type="radio" name="menuScore" value=5 class="mask mask-star-2 bg-orange-400" checked/>
                        </div>

                    </div>
                </div>

                <div class="divider"></div>
                <div>
                    <div class="flex flex-col">
                        <div class="flex justify-center">
                            <h1 class="font-bold text-black text-sm mb-4">
                                메모
                            </h1>
                        </div>

                        <div class="flex justify-center rating rating-lg">
                <textarea
                        class="border flex flex-grow max-w-lg border-black border-opacity-10 resize-none p-4 focus:outline-none"
                        cols="20" name="menuMemo" placeholder="내용을 입력하세요."
                        rows="5"></textarea>
                        </div>

                    </div>
                </div>

                <!--                <input type="hidden" name="nutrientTotal" th:value="${nutrientTotal}"/>-->

                <div class="flex justify-center mt-5">
                    <a href="/cartFoodInfo/total"
                       class="m-3 text-xs bg-blue-500 hover:bg-blue-400 text-white font-bold py-3 px-6 rounded-full">
                        이전</a>
                    <button type="submit"
                            id="addMenuBtn"
                            class="m-3 text-xs bg-blue-500 hover:bg-blue-400 text-white font-bold py-3 px-6 rounded-full">
                        식단 추가하기</button>
                </div>
            </form>

        </div>
    </div>


    <div id="customModal"
         class="w-full fixed inset-0 flex text-xs items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="w-2/3 bg-white px-10 py-10 mx-15 my-20">
            <div class="text-center font-bold text-black text-lg bg-gray-200 py-3">식품 리스트</div>
            <div class="flex flex-col justify-center">
                <div class="p-3 flex flex-grow justify-between">
                    <span class="font-bold text-xs flex justify-center" style="width:36%">식품명</span>
                    <span class="font-bold text-xs flex justify-center" style="width:8%">수량</span>
                </div>
            </div>
            <div class="divider my-1"></div>
            <div id="cartInfos" class="border-2 p-3 flex flex-col w-full overflow-y-scroll h-1/4" th:if="${!cartList.isEmpty()}">
                <div class="flex flex-col"
                     th:id="${cartFoodInfo.foodInfo.id}"
                     th:onclick="updateFoodInfoConfirm(/*[[${cartFoodInfo.foodInfo.id}]]*/, this)"
                     th:each="cartFoodInfo, loop: ${cartList}">
                    <div class="flex flex-grow justify-between">
                        <span class="font-bold text-xs text-start text-black flex"
                              style="width:36%"
                              th:text="${cartFoodInfo.foodInfo.foodName}"></span>
                        <span class="font-bold flex text-xs justify-center"
                              style="width:8%"
                              th:text="${cartFoodInfo.quantity}"></span>
                    </div>
                    <div class="divider my-1"></div>
                </div>
            </div>
            <div class="m-3 flex">
                <div class="text-sm font-bold m-1">현재 날짜</div>
                <div class="text-sm font-bold m-1 bg-gray-100" th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"></div>
            </div>

            <div class="m-3 flex">
                <div class="text-sm font-bold m-1">위의 정보로 오늘 식단이 기록됩니다. 추가하시겠습니까?</div>
            </div>



            <div class="m-3 flex place-content-end">
                <button id="submitBtn"
                        class="m-2 bg-blue-500 hover:bg-blue-700 text-white text-xs font-bold py-2 px-4 rounded">
                    추가
                </button>
                <button class="m-2 bg-gray-500 hover:bg-gray-700 text-white text-xs font-bold py-2 px-4 rounded"
                        onclick="closeCustomModal()">
                    취소
                </button>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function () {
            let form = document.getElementById("addMenuForm");
            let submitBtn = document.getElementById("submitBtn");

            form.addEventListener('submit', (event) => {
                event.preventDefault();
                openCustomModal();
            })

            submitBtn.addEventListener('click', function () {
                form.submit();
            })
        })

        function openCustomModal() {
            document.getElementById('customModal').classList.remove('hidden');
        }

        function closeCustomModal() {
            document.getElementById('customModal').classList.add('hidden');
        }

        function executeAddDailyMenuLogic() {
            closeCustomModal();
            addDailyMenu();
        }

        function addDailyMenu() {
            const header = $("meta[name='_csrf_header']").attr("content");
            const token = $("meta[name='_csrf']").attr("content");
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
            if (foodId) {
                $.ajax({
                    type: "POST",
                    url: "/cartFoodInfo/addMenu", // 좋아요 요청을 보낼 URL
                    data: {
                        foodId: foodId,
                        quantity: quantity
                    },
                    dataType: "json",
                    success: function (response) {
                        if (response.result === "success") { // 좋아요 데이터가 없음 -> 좋아요 표시
                            console.log("success");
                            closeCustomModal();
                            toastNotice(response.msg);
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        }

    </script>
</main>
</body>

</html>