<html layout:decorate="~{common/layout/defaultLayout.html}" xmlns:layout="" data-theme="corporate">
<head>
    <title>장바구니</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- 라이브러리 CSS 불러오기 -->
    <link rel="stylesheet" href="/resource/library/library.css">

    <meta th:if="${error}" name="errorMsg" th:content="${exception}"/>

    <meta th:if="${@rq.isLogin()}" name="currentUsername" th:content="${@rq.getMember().getUsername()}"/>
    <meta th:if="${@rq.isLogout()}" name="currentUsername" th:content="no"/>
</head>

<body>
<main layout:fragment="Content">
    <div class="flex-1 flex flex-col items-center">
        <div class="max-w-3xl w-full px-4 py-4 flex flex-col m-4 justify-center">
            <div class="flex justify-center">
                <h1 class="font-bold text-black mb-4">
                    장바구니 음식 목록
                </h1>
            </div>
            <div class="flex flex-col justify-center">
                <div class="p-3 flex flex-grow justify-between">
                    <span class="font-bold text-xs flex justify-center" style="width:6%">번호</span>
                    <span class="font-bold text-xs flex justify-center" style="width:36%">식품명</span>
                    <span class="font-bold text-xs flex justify-center" style="width:36%">제조사/유통사</span>
                    <span class="font-bold text-xs flex justify-center" style="width:8%">수량</span>
                </div>
            </div>
            <div class="divider m-2"></div>
            <div id="cartInfosEmpty" class="flex flex-wrap justify-center w-full"
                 th:classappend="${!cartList.isEmpty()} ? 'hidden' : ''">
                장바구니 항목이 없습니다.
            </div>
            <div id="cartInfos"
                 class="flex flex-col w-full justify-center"
                 th:if="${!cartList.isEmpty()}">
                <div class="flex flex-col justify-center"
                     th:id="${cartFoodInfo.foodInfo.id}"
                     th:each="cartFoodInfo, loop: ${cartList}"
                     th:onclick="updateFoodInfoConfirm(/*[[${cartFoodInfo.foodInfo.id}]]*/, this)">
                    <div class="flex flex-grow justify-between">
                        <span class="font-bold text-xs text-black flex justify-center"
                              style="width:6%"
                              th:text="${cartFoodInfo.foodInfo.id}"></span>
                        <span class="font-bold text-xs text-start text-black flex"
                              style="width:36%"
                              th:text="${cartFoodInfo.foodInfo.foodName}"></span>
                        <span class="font-bold text-xs text-black flex justify-center"
                              style="width:36%"
                              th:text="${cartFoodInfo.foodInfo.manufacturer}"></span>
                        <span class="font-bold flex text-xs justify-center"
                              style="width:8%"
                              th:text="${cartFoodInfo.quantity}"></span>
                    </div>
                    <div class="divider my-2" style="height: 1px"></div>
                </div>
            </div>

            <div class="flex justify-center mt-5">
                <a href="/foodInfo/search"
                   class="m-3 text-xs bg-red-500 hover:bg-red-400 text-white font-bold py-3 px-6 rounded-full">
                    식품 추가</a>
                <a id="nextBtn"
                   href="/cartFoodInfo/total"
                   class="m-3 text-xs bg-blue-500 hover:bg-blue-400 text-white font-bold py-3 px-6 rounded-full"
                   th:classappend="${!cartList.isEmpty()} ? '' : 'hidden'">
                    다음</a>
            </div>
        </div>

    </div>

    <div id="customModal"
         class="w-full fixed inset-0 flex text-xs items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="w-2/3 bg-white px-10 py-10 mx-15 my-20">
            <div id="foodNameLabel" class="text-center font-bold text-black text-lg"></div>
            <div class="flex">
                <div class="text-xs font-bold m-2">제조사/유통사</div>
                <div id="manufacturerLabel" class="text-xs text-black m-2"></div>
            </div>
            <div class="flex">
                <div class="text-xs font-bold m-2">수량</div>
                <div id="quantityLabel" class="text-xs text-black m-2"></div>
                <button class="bg-gray-400 hover:bg-gray-300 text-white text-xs font-bold py-1 px-2 rounded m-2"
                        onclick="quantityUp()">+
                </button>
                <button class="bg-gray-400 hover:bg-gray-300 text-white text-xs font-bold py-1 px-2 rounded m-2"
                        onclick="quantityDown()">-
                </button>
            </div>

            <div class="m-3 flex place-content-end">
                <button class="m-1 bg-red-500 hover:bg-red-600 text-white text-xs font-bold py-2 px-4 rounded"
                        onclick="executeDeleteLogic()">삭제
                </button>
                <button class="m-1 bg-blue-500 hover:bg-blue-600 text-white text-xs font-bold py-2 px-4 rounded"
                        onclick="executeUpdateLogic()">수정
                </button>
                <button class="m-1 bg-gray-500 hover:bg-gray-600 text-white text-xs font-bold py-2 px-4 rounded"
                        onclick="closeCustomModal()">취소
                </button>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        let cartInfosTag = document.getElementById("cartInfos");
        let removeElement;
        let removeFoodId;

        function updateFoodInfoConfirm(foodId, element) {
            removeFoodId = foodId;
            removeElement = element;
            openCustomModal(element);
        }

        function quantityUp() {
            let quantityTag = document.getElementById("quantityLabel");
            quantityTag.innerText = parseInt(quantityTag.innerText) + 1;
        }

        function quantityDown() {
            let quantityTag = document.getElementById("quantityLabel");
            let res = parseInt(quantityTag.innerText) - 1;
            quantityTag.innerText = res <= 0 ? 0 : res;
        }

        function openCustomModal(element) {
            let foodNameTag = document.getElementById("foodNameLabel");
            let manufacturerTag = document.getElementById("manufacturerLabel");
            let quantityTag = document.getElementById("quantityLabel");
            let childElements = element.children[0].children;

            foodNameTag.innerText = childElements[1].innerText;
            manufacturerTag.innerText = childElements[2].innerText;
            quantityTag.innerText = childElements[3].innerText;

            document.getElementById('customModal').classList.remove('hidden');
        }

        function closeCustomModal() {
            document.getElementById('customModal').classList.add('hidden');
        }

        function executeUpdateLogic() {
            closeCustomModal();
            updateFoodInfo();
        }

        function executeDeleteLogic() {
            closeCustomModal();
            deleteFoodInfo();
        }

        function deleteFoodInfo() {
            const header = $("meta[name='_csrf_header']").attr("content");
            const token = $("meta[name='_csrf']").attr("content");
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });

            if (removeFoodId) {
                $.ajax({
                    type: "POST",
                    url: "/cartFoodInfo/remove",
                    data: {
                        foodId: removeFoodId
                    },
                    dataType: "json",
                    success: function (response) {
                        console.log(JSON.stringify(response));
                        console.log(response.msg);
                        if (response.result === "success") {
                            removeElement.remove();

                            if (cartInfosTag.children.length == 0) {
                                document.getElementById("cartInfosEmpty").classList.remove("hidden");
                                document.getElementById("nextBtn").classList.add("hidden");
                            }
                            toastNotice(response.msg);
                        } else if(response.result === "fail") {
                            toastWarning(response.msg);
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        }

        function updateFoodInfo() {
            let quantity = document.getElementById("quantityLabel").innerText;
            const header = $("meta[name='_csrf_header']").attr("content");
            const token = $("meta[name='_csrf']").attr("content");
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });

            if (removeFoodId) {
                $.ajax({
                    type: "POST",
                    url: "/cartFoodInfo/update",
                    data: {
                        foodId: removeFoodId,
                        quantity: quantity
                    },
                    dataType: "json",
                    success: function (response) {
                        if (response.result === "success") {
                            if (quantity == 0) {
                                console.log(removeFoodId);
                                removeElement.remove();
                            } else {
                                removeElement.children[0].children[3].innerText = quantity;
                            }

                            if (cartInfosTag.children.length == 0) {
                                document.getElementById("cartInfosEmpty").classList.remove("hidden");
                                document.getElementById("nextBtn").classList.add("hidden");
                            }

                            toastNotice(response.msg);
                        } else if (response.result === "fail") {
                            toastWarning(response.msg);
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        }
    </script>
</main>
</body>

</html>