<html layout:decorate="~{common/layout/defaultLayout.html}" xmlns:layout="" data-theme="corporate">
<head>
    <title>장바구니</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- 라이브러리 CSS 불러오기 -->
    <link rel="stylesheet" href="/resource/library/library.css">

    <meta th:if="${error}" name="errorMsg" th:content="${exception}"/>

    <meta th:if="${@rq.isLogin()}" name="currentUsername" th:content="${@rq.getMember().getUsername()}"/>
    <meta th:if="${@rq.isLogout()}" name="currentUsername" th:content="no"/>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        #nutrientChart {
            width: 350px;
            height: 350px;
        }
    </style>
</head>

<body>
<main layout:fragment="Content">
    <div class="flex-1 flex flex-col items-center">
        <div class="max-w-3xl w-full px-4 py-4 flex flex-col m-4 justify-center">
            <div class="w-full">
                <div class="flex justify-center">
                    <h1 class="font-bold text-black text-sm mb-4">
                        <i class="fa-solid fa-inbox"></i>
                        총 합계
                    </h1>
                </div>
                <div class="flex justify-center">
                    <canvas id="nutrientChart"></canvas>
                </div>
                <div class="divider"></div>
                <div class="flex justify-between">
                    <h1 class="font-bold text-black text-sm mb-4">
                        <i class="fa-solid fa-list"></i>
                        영양성분
                    </h1>
                    <div class="flex m-2">
                        <div class="text-xs font-bold m-1">에너지(kcal)</div>
                        <div class="text-xs text-black m-1"
                             th:text="${kcalTotal}"></div>
                    </div>
                </div>

                <div th:if="${nutrient.value != 0}" th:each="nutrient, loop: ${nutrientTotal}"
                     class="flex justify-between">
                    <div class="flex">
                        <i th:id="${loop.index}" class="m-1 fa-solid fa-circle"></i>
                        <div class="text-xs font-bold m-2"
                             th:text="${nutrient.name} + '(g)'"></div>
                    </div>
                    <div class="text-xs text-black m-2"
                         th:text="${#numbers.formatDecimal(nutrient.value, 1, 2)}"></div>
                </div>

                <div class="flex justify-center mt-5">
                    <a href="/cartFoodInfo/list"
                       class="m-3 text-xs bg-blue-500 hover:bg-blue-400 text-white font-bold py-3 px-6 rounded-full">
                        이전</a>
                    <a href="/cartFoodInfo/addMenu"
                       class="m-3 text-xs bg-blue-500 hover:bg-blue-400 text-white font-bold py-3 px-6 rounded-full">
                        다음</a>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        const background = [
            "#FF6384",
            "#36A2EB",
            "#FFCE56",
            "#4BC0C0",
            "#FF8C00",
            "#9966FF",
            "#C0C0C0",
            "#FFD700",
            "#3CB371",
            "#FF4500",
            "#00BFFF",
            "#BA55D3",
            "#008080",
            "#F08080"
        ];


        var nutrientTotalData = {
            labels: [],
            datasets: [
                {
                    data: [],
                    backgroundColor: [],
                    hoverBackgroundColor: []
                }]
        };

        let label;
        let value;
        let back;
        let hover;
        let loopIndex;
        let iconTag;

        // 원형 그래프를 그릴 데이터
        /*[# th:each="nutrient, loop : ${nutrientTotal}"]*/
        loopIndex = /*[[${loop.index}]]*/null;
        iconTag = document.getElementById(loopIndex);
        label = /*[[${nutrient.name}]]*/null;
        value = /*[[${nutrient.value}]]*/null;
        back = background[loopIndex];
        hover = background[loopIndex];

        if (value != 0) {
            nutrientTotalData.labels.push(label);
            nutrientTotalData.datasets[0].data.push(value);
            nutrientTotalData.datasets[0].backgroundColor.push(back);
            nutrientTotalData.datasets[0].hoverBackgroundColor.push(hover);
            iconTag.style.color = back;
        }
        /*[/]*/

        // 원형 그래프의 옵션
        const options = {
            responsive: false,
            maintainAspectRatio: false
        };

        // 캔버스 요소 선택
        const ctx = document.getElementById("nutrientChart").getContext("2d");

        // 원형 그래프 생성
        new Chart(ctx, {
            imageTarget: "doughnut",
            data: nutrientTotalData,
            options: options
        });
    </script>
</main>
</body>

</html>