<html layout:decorate="~{common/layout/defaultLayout.html}" xmlns:layout="">
<head>
    <title>음식 영양정보</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- 라이브러리 CSS 불러오기 -->
    <link rel="stylesheet" href="/resource/library/library.css">

    <meta th:if="${error}" name="errorMsg" th:content="${exception}"/>

    <meta th:if="${@rq.isLogin()}" name="currentUsername" th:content="${@rq.getMember().getUsername()}"/>
    <meta th:if="${@rq.isLogout()}" name="currentUsername" th:content="no"/>
</head>

<body>
<main layout:fragment="Content">
    <div class="flex flex-col w-screen h-auto">
        <div class="flex flex-col">
            <div class="m-5 flex justify-around">
                <div class="text-center font-bold text-black text-lg"
                     th:text="${foodInfo.foodName}"></div>
                <a class="btn text-xs"
                   th:onclick="addCart(/*[[${foodInfo.id}]]*/)">
                    장바구니 등록
                </a>
                <a class="btn text-xs"
                   th:href="@{/cartFoodInfo/list}">
                    장바구니 항목
                </a>
            </div>

            <div class="m-5 flex">
                <div class="divider"></div>
                <div class="flex flex-col">
                    <!-- FoodInfo 정보 출력 시작-->
                    <div class="flex">
                        <div class="flex m-2">
                            <div class="text-xs font-bold m-1">제조사/유통사</div>
                            <div class="text-xs text-black m-1" th:text="${foodInfo.manufacturer}"></div>
                        </div>
                        <div class="flex m-2">
                            <div class="text-xs font-bold m-1">식품 대분류</div>
                            <div class="text-xs text-black m-1" th:text="${foodInfo.category}"></div>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="flex m-2">
                            <div class="text-xs font-bold m-1">1회 제공량</div>
                            <div class="text-xs text-black m-1"
                                 th:text="${foodInfo.portionSize} + '(' + ${foodInfo.unit} + ')'"></div>
                        </div>
                        <div class="flex m-2">
                            <div class="text-xs font-bold m-1">총 내용량</div>
                            <div class="text-xs text-black m-1"
                                 th:text="${foodInfo.totalSize} + '(' + ${foodInfo.unit} + ')'"></div>
                        </div>
                    </div>
                    <!-- FoodInfo 정보 출력 끝-->
                    <div class="divider my-2" style="height: 1px"></div>

                    <!-- nutrientInfo 정보 출력 시작-->
                    <div class="flex">
                        <div class="flex m-2" style="width: 25%">
                            <div class="text-xs font-bold m-1">에너지(kcal)</div>
                            <div class="text-xs text-black m-1"
                                 th:text="${nutrients.kcal}"></div>
                        </div>
                        <div class="flex m-2" style="width: 25%">
                            <div class="text-xs font-bold m-1">단백질(g)</div>
                            <div class="text-xs text-black m-1"
                                 th:text="${nutrients.protein}"></div>
                        </div>
                        <div class="flex m-2" style="width: 25%">
                            <div class="text-xs font-bold m-1">지방(g)</div>
                            <div class="text-xs text-black m-1"
                                 th:text="${nutrients.fat}"></div>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="flex m-2" style="width: 25%">
                            <div class="text-xs font-bold m-1">탄수화물(g)</div>
                            <div class="text-xs text-black m-1"
                                 th:text="${nutrients.carbohydrate}"></div>
                        </div>
                        <div class="flex m-2" style="width: 25%">
                            <div class="text-xs font-bold m-1">당류(g)</div>
                            <div class="text-xs text-black m-1"
                                 th:text="${nutrients.sugar}"></div>
                        </div>
                        <div class="flex m-2" style="width: 25%">
                            <div class="text-xs font-bold m-1">식이섬유(g)</div>
                            <div class="text-xs text-black m-1"
                                 th:text="${nutrients.fiber}"></div>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="flex m-2" style="width: 25%">
                            <div class="text-xs font-bold m-1">칼슘(mg)</div>
                            <div class="text-xs text-black m-1"
                                 th:text="${nutrients.calcium}"></div>
                        </div>
                        <div class="flex m-2" style="width: 25%">
                            <div class="text-xs font-bold m-1">철(mg)</div>
                            <div class="text-xs text-black m-1"
                                 th:text="${nutrients.iron}"></div>
                        </div>
                        <div class="flex m-2" style="width: 25%">
                            <div class="text-xs font-bold m-1">마그네슘(mg)</div>
                            <div class="text-xs text-black m-1"
                                 th:text="${nutrients.magnesium}"></div>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="flex m-2" style="width: 25%">
                            <div class="text-xs font-bold m-1">칼륨(mg)</div>
                            <div class="text-xs text-black m-1"
                                 th:text="${nutrients.potassium}"></div>
                        </div>
                        <div class="flex m-2" style="width: 25%">
                            <div class="text-xs font-bold m-1">나트륨(mg)</div>
                            <div class="text-xs text-black m-1"
                                 th:text="${nutrients.sodium}"></div>
                        </div>
                        <div class="flex m-2" style="width: 25%">
                            <div class="text-xs font-bold m-1">콜레스테롤(g)</div>
                            <div class="text-xs text-black m-1"
                                 th:text="${nutrients.cholesterol}"></div>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="flex m-2" style="width: 25%">
                            <div class="text-xs font-bold m-1">포화 지방산(g)</div>
                            <div class="text-xs text-black m-1"
                                 th:text="${nutrients.saturated}"></div>
                        </div>
                        <div class="flex m-2" style="width: 25%">
                            <div class="text-xs font-bold m-1">트랜스 지방산(g)</div>
                            <div class="text-xs text-black m-1"
                                 th:text="${nutrients.transFattyAcid}"></div>
                        </div>
                        <div class="flex m-2" style="width: 25%">
                            <div class="text-xs font-bold m-1">불포화 지방산(g)</div>
                            <div class="text-xs text-black m-1"
                                 th:text="${nutrients.unSaturated}"></div>
                        </div>
                    </div>

                    <!-- nutrientInfo 정보 출력 끝-->
                </div>
                <div class="divider my-2" style="height: 1px"></div>
            </div>

        </div>
    </div>
    <script th:inline="javascript">
        function addCart(foodId) {
            const header = $("meta[name='_csrf_header']").attr("content");
            const token = $("meta[name='_csrf']").attr("content");
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
            if (foodId) {
                $.ajax({
                    type: "POST",
                    url: "/cartFoodInfo/add", // 좋아요 요청을 보낼 URL
                    data: {
                        foodId: foodId
                    },
                    dataType: "json",
                    success: function (response) {
                        if (response.result === "success") { // 좋아요 데이터가 없음 -> 좋아요 표시
                            console.log("success");
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        }

    </script>
</main>
</body>

</html>