<html layout:decorate="~{common/layout/defaultLayout.html}" xmlns:layout="">
<head>
    <title>음식 영양정보</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- 라이브러리 CSS 불러오기 -->
    <link rel="stylesheet" href="/resource/library/library.css">

    <meta th:if="${error}" name="errorMsg" th:content="${exception}"/>

    <meta th:if="${@rq.isLogin()}" name="currentUsername" th:content="${@rq.getMember().getUsername()}"/>
    <meta th:if="${@rq.isLogout()}" name="currentUsername" th:content="no"/>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        #nutrientChart {
            width: 350px;
            height: 350px;
        }
    </style>
</head>

<body>
<main layout:fragment="Content">
    <div class="flex flex-col">
        <div class="m-3 flex flex-col justify-center">
            <div class="m-5 flex justify-center">
                <div class="m-2 text-center font-bold text-black text-lg"
                     th:text="${foodInfo.foodName}"></div>
                <a class="m-2 text-xs bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-3 px-3 rounded-full"
                        th:onclick="openCustomModal()">
                    장바구니 등록
                </a>
                <a class="m-2 text-xs bg-red-500 hover:bg-red-400 text-white font-bold py-3 px-3 rounded-full"
                        href="javascript:history.back()">
                    돌아가기
                </a>
            </div>

            <div class="m-3 flex justify-center">
                <div class="divider"></div>
                <div class="flex flex-col">
                    <!-- FoodInfo 정보 출력 시작-->
                    <div class="flex">
                        <div class="flex m-1">
                            <div class="text-xs font-bold m-1">제조사/유통사</div>
                            <div class="text-xs text-black m-1 whitespace-normal break-words" th:text="${foodInfo.manufacturer}"></div>
                        </div>
                        <div class="flex m-1">
                            <div class="text-xs font-bold m-1">식품 대분류</div>
                            <div class="text-xs text-black m-1" th:text="${foodInfo.category}"></div>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="flex m-2">
                            <div class="text-xs font-bold m-1">1회 제공량</div>
                            <div class="text-xs text-black m-1"
                                 th:text="${foodInfo.portionSize} + '(' + ${foodInfo.unit} + ')'"></div>
                        </div>
                        <div class="flex m-2">
                            <div class="text-xs font-bold m-1">총 내용량</div>
                            <div class="text-xs text-black m-1"
                                 th:text="${foodInfo.totalSize} + '(' + ${foodInfo.unit} + ')'"></div>
                        </div>
                    </div>
                    <!-- FoodInfo 정보 출력 끝-->
                    <div class="divider my-2"></div>

                    <canvas id="nutrientChart"></canvas>

                    <div class="divider my-2" style="height: 1px"></div>
                    <!-- nutrientInfo 정보 출력 시작-->
                    <div th:if="${nutrient.value != 0}" th:each="nutrient, loop: ${nutrients}"
                         class="flex justify-between">
                        <div class="flex">
                            <i class="fa-solid fa-list"></i>
                            <div class="text-xs font-bold m-1"
                                 th:text="${nutrient.name} + '(' + ${nutrient.unit} + ')'"></div>
                        </div>
                        <div class="text-xs text-black m-1"
                             th:text="${nutrient.value}"></div>
                        <div class="divider"></div>
                    </div>

                    <!-- nutrientInfo 정보 출력 끝-->
                </div>
                <div class="divider my-2" style="height: 1px"></div>
            </div>
            <div class="flex justify-center">
                <a class="m-3 text-xs bg-blue-500 hover:bg-blue-400 text-white font-bold py-4 px-4 rounded-full"
                        th:href="@{/cartFoodInfo/list}">
                    장바구니 항목
                </a>
            </div>

            <div id="customModal" class="fixed inset-0 flex text-xs items-center justify-center bg-black bg-opacity-50 hidden">
                <div class="bg-white px-20 py-40">
                    <div id="foodNameLabel" class="text-center font-bold text-black text-lg"></div>
                    <div class="flex">
                        <div class="text-xs font-bold m-2">제조사/유통사</div>
                        <div id="manufacturerLabel" class="text-xs text-black m-2"></div>
                    </div>
                    <div class="flex">
                        <div class="text-xs font-bold m-2">수량</div>
                        <div id="quantityLabel" class="text-xs text-black m-2"></div>
                        <button class="bg-gray-400 hover:bg-gray-300 text-white text-xs font-bold py-1 px-2 rounded m-2"
                                onclick="quantityUp()">+
                        </button>
                        <button class="bg-gray-400 hover:bg-gray-300 text-white text-xs font-bold py-1 px-2 rounded m-2"
                                onclick="quantityDown()">-
                        </button>
                    </div>

                    <div class="m-3">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white text-xs font-bold py-2 px-4 rounded"
                                th:onclick="executeAddCartLogic(/*[[${foodInfo.id}]]*/)">추가
                        </button>
                        <button class="bg-gray-500 hover:bg-gray-700 text-white text-xs font-bold py-2 px-4 rounded"
                                onclick="closeCustomModal()">취소
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        const background = [
            "#FF6384",
            "#36A2EB",
            "#FFCE56",
            "#4BC0C0",
            "#FF8C00",
            "#9966FF",
            "#C0C0C0",
            "#FFD700",
            "#3CB371",
            "#FF4500",
            "#00BFFF",
            "#BA55D3",
            "#008080",
            "#F08080"
        ];

        let hoverBackground = [
            "#FF6384",
            "#36A2EB",
            "#FFCE56",
            "#4BC0C0",
            "#FF8C00",
            "#9966FF",
            "#C0C0C0",
            "#FFD700",
            "#3CB371",
            "#FF4500",
            "#00BFFF",
            "#BA55D3",
            "#008080",
            "#F08080"
        ];


        var nutrientData = {
            labels: [],
            datasets: [
                {
                data: [],
                backgroundColor: [],
                hoverBackgroundColor: []
            }]
        };

        let label;
        let value;
        let back;
        let hover;
        let loopIndex;

        // 원형 그래프를 그릴 데이터
        /*[# th:each="nutrient, loop : ${nutrients}"]*/
            loopIndex = /*[[${loop.index}]]*/null;
            label = /*[[${nutrient.name}]]*/null;
            value = /*[[${nutrient.value}]]*/null;
            back = background[loopIndex];
            hover = hoverBackground[loopIndex];

            if (value != 0) {
                nutrientData.labels.push(label);
                nutrientData.datasets[0].data.push(value);
                nutrientData.datasets[0].backgroundColor.push(back);
                nutrientData.datasets[0].hoverBackgroundColor.push(hover);
            }
        /*[/]*/

        // 원형 그래프의 옵션
        const options = {
            responsive: false,
            maintainAspectRatio: false
        };

        // 캔버스 요소 선택
        const ctx = document.getElementById("nutrientChart").getContext("2d");

        // 원형 그래프 생성
        new Chart(ctx, {
            type: "doughnut",
            data: nutrientData,
            options: options
        });

        function openCustomModal() {
            let foodNameTag = document.getElementById("foodNameLabel");
            let manufacturerTag = document.getElementById("manufacturerLabel");
            let quantityTag = document.getElementById("quantityLabel");

            foodNameTag.innerText = /*[[${foodInfo.foodName}]]*/null;
            manufacturerTag.innerText = /*[[${foodInfo.manufacturer}]]*/null;
            quantityTag.innerText = "1";

            document.getElementById('customModal').classList.remove('hidden');
        }

        function closeCustomModal() {
            document.getElementById('customModal').classList.add('hidden');
        }

        function quantityUp() {
            let quantityTag = document.getElementById("quantityLabel");
            quantityTag.innerText = parseInt(quantityTag.innerText) + 1;
        }

        function quantityDown() {
            let quantityTag = document.getElementById("quantityLabel");
            let res = parseInt(quantityTag.innerText) - 1;
            quantityTag.innerText = res <= 0 ? 1 : res;
        }

        function executeAddCartLogic(foodId) {
            closeCustomModal();
            addCart(foodId);
        }

        function addCart(foodId) {
            let quantity = document.getElementById("quantityLabel").innerText;
            const header = $("meta[name='_csrf_header']").attr("content");
            const token = $("meta[name='_csrf']").attr("content");
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
            if (foodId) {
                $.ajax({
                    type: "POST",
                    url: "/cartFoodInfo/add", // 좋아요 요청을 보낼 URL
                    data: {
                        foodId: foodId,
                        quantity: quantity
                    },
                    dataType: "json",
                    success: function (response) {
                        if (response.result === "success") { // 좋아요 데이터가 없음 -> 좋아요 표시
                            console.log("success");
                            closeCustomModal();
                            toastNotice(response.msg);
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        }

    </script>
</main>
</body>

</html>