<html layout:decorate="~{common/layout/defaultLayout.html}" xmlns:layout="">
<head>
    <title>음식 검색</title>
</head>

<body>
<main layout:fragment="Content">
    <div class="flex flex-col m-5 h-auto">
        <div class="form-control">
            <div><i class="fa-solid fa-magnifying-glass"></i>
                원하는 음식을 검색
            </div>
            <div class="m-5 flex">
                <form method="get" id="searchForm">
                    <label class="flex flex-grow">
                        <input type="text" name="keyword"
                               th:value="${keyword}"
                               class="input input-bordered flex flex-grow"
                               placeholder="검색할 음식을 입력하세요">
                        <button type="submit" class="btn btn-primary btn-sm mx-1 my-2 block mt-3 text-sm break-all text-blue-400">
                            <span>검색</span>
                        </button>
                    </label>
                </form>
            </div>
        </div>
        <div class="w-full">
            <div class="flex justify-between">
                <h1 class="font-bold text-sm mb-4">
                    <i class="fa-solid fa-list"></i>
                    검색된 음식 목록
                </h1>
            </div>
            <div class="flex flex-col justify-center">
                <div class="flex flex-grow justify-between">
                    <span class="font-bold text-xs flex justify-center" style="width:8%">번호</span>
                    <span class="font-bold text-xs flex justify-center" style="width:36%">식품명</span>
                    <span class="font-bold text-xs flex justify-center" style="width:36%">제조사/유통사</span>
                    <span class="font-bold text-xs flex justify-center" style="width:20%">1회/총제공량</span>
                </div>
            </div>
            <div class="divider"></div>
            <div class="flex flex-wrap justify-center w-full" th:if="${foodList.isEmpty()}">
                검색 결과가 없습니다.
            </div>
            <div class="flex flex-col w-full justify-center" th:if="${!foodList.isEmpty()}">
                <div class="flex flex-col justify-center" th:each="foodInfo, loop: ${paging}">
                    <div class="flex flex-grow justify-between">
                        <!-- 역순 정렬 로직 시작 -->
                        <span class="font-bold text-xs text-black flex justify-center"
                              style="width:8%"
                              th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></span>
                        <!-- 역순 정렬 로직 종료 -->
                        <a class="font-bold text-xs text-start text-black flex"
                           style="width:36%"
                           th:href="|/foodInfo/details/${foodInfo.id}|">
                            <span th:text="${foodInfo.foodName}"></span>
                        </a>
                        <span class="font-bold text-xs text-black flex justify-center"
                              style="width:36%"
                              th:text="${foodInfo.manufacturer}"></span>
                        <span class="font-bold text-xs text-black flex justify-center"
                              style="width:20%"
                              th:text="${foodInfo.portionSize} + '/' + ${foodInfo.totalSize} + '(' + ${foodInfo.unit} + ')'"></span>
                    </div>
                    <div class="divider my-2" style="height: 1px"></div>
                </div>
            </div>
        </div>

        <!--    페이징 처리 시작 -->
        <div class="flex justify-center mt-5">
            <div th:if="${!paging.isEmpty()}" class="flex justify-center my-5">
                <ul class="pagination justify-content-center flex">
                    <li th:if="${paging.hasPrevious()}" class="page-item">
                        <a class="page-link m-1 btn btn-sm text-xs"
                           th:href="@{|?keyword=${keyword}&page=${paging.number - 1}|}"
                           th:data-page="${paging.number - 1}">
                            <span>이전</span>
                        </a>
                    </li>
                    <li th:each="page : ${#numbers.sequence(0, paging.totalPages - 1)}"
                        th:if="${page >= paging.number - 2 and page <= paging.number + 2}">
                        <a th:disabled="${page == paging.number}"
                           th:text="${page}"
                           class="page-link m-1 btn btn-sm btn-outline text-xs text-black"
                           th:href="@{|?keyword=${keyword}&page=${page}}"
                           th:data-page="${page}"></a>
                    </li>
                    <li th:if="${paging.hasNext()}" class="page-item">
                        <a class="page-link m-1 btn btn-sm text-xs"
                           th:href="@{|?keyword=${keyword}&page=${paging.number + 1}|}"
                           th:data-page="${paging.number + 1}">
                            <span>다음</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--    페이징 처리 종료-->

        <a class="m-1 btn"
           th:href="@{/cartFoodInfo/list}">
            <span>장바구니</span>
        </a>
    </div>
</main>
</body>

</html>