<html layout:decorate="~{common/layout/defaultLayout.html}" xmlns:layout="">
<head>
    <title>글쓰기 - CaloCheck</title>
</head>
<body>
<main class="flex-grow flex items-center justify-center" layout:fragment="Content">
    <script th:inline="javascript">
        function SavePost__submit(form) {
            // iComment 이(가) 올바른지 체크
            form.iSubject.value = form.iSubject.value.trim();
            form.iContent.value = form.iContent.value.trim();// 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.iSubject.value === "") {
                toastWarning('제목을 입력해주세요.');
                form.iSubject.focus();
                return;
            }

            if (form.iSubject.value.length >= 30) {
                toastWarning('제목은 30자 이하로 제한됩니다.');
                form.iSubject.focus();
                return;
            }

            if (form.iContent.value === "") {
                toastWarning('내용을 입력해주세요.');
                form.iContent.focus();
                return;
            }

            form.submit();
        }

        function cancelForm() {
            // 취소 버튼 클릭 시 수행할 동작을 여기에 작성합니다.
            // 예: 폼 초기화, 페이지 이동 등
            window.location.href = "/post/list";
        }
    </script>

    <div class="flex flex-col max-w-5xl w-full justify-center">
        <section class="mb-5 max-w-5xl w-full">
            <form class="flex flex-col gap-6" enctype="multipart/form-data" method="POST"
                  onsubmit="SavePost__submit(this); return false;"
                  th:action>
                <div class="flex flex-grow max-w-5xl w-full justify-center">
                    <div class="flex flex-col max-w-5xl w-full justify-center mt-20">
                        <div class="flex justify-center">
                            <div class="text-center font-bold text-4xl text-black">
                                게시물 작성
                            </div>
                        </div>
                        <div class="mt-10 flex justify-center">
                            <!-- 제목 입력 부분-->
                            <div class="flex flex-grow max-w-5xl w-full flex-col mx-5">
                                <!-- 제목 -->
                                <div class="mt-6 text-gray-500 font-semi-bold mr-2">
                                    제목
                                </div>
                                <!-- 제목 입력 -->
                                <div class="flex flex-grow max-w-5xl w-full justify-center mt-2 mr-2">
                                    <input class="border flex flex-grow max-w-5xl w-full border-black border-opacity-10 h-10 p-4"
                                           id="id-input" name="iSubject" placeholder="제목을 입력하세요."
                                           type="text"/>
                                </div>
                                <!-- 내용 -->
                                <div class="mt-6 text-gray-500 font-semi-bold mr-2">
                                    내용
                                </div>
                                <!-- 내용 입력 -->
                                <div class="flex flex-grow max-w-5xl w-full justify-center mt-2 mr-2">
                            <textarea
                                    class="border flex flex-grow max-w-5xl w-full border-black border-opacity-10 resize-none p-4 focus:outline-none"
                                    cols="45" name="iContent" placeholder="내용을 입력하세요."
                                    rows="15"></textarea>
                                </div>

                                <div class="mt-6 text-gray-500 font-semi-bold mr-2">
                                    식단 선택
                                </div>

                                <div>
                                    <select class="select select-bordered w-full max-w-xs mt-3" name="selectedFood">
                                        <option disabled selected>어떤 음식에 대한 사진인가요?</option>
                                        <div th:if="todayFoodNameList" th:each="foodName : ${todayFoodNameList}">
                                            <option th:text="${foodName}"></option>
                                        </div>
                                    </select>
                                </div>

                                <div class="flex flex-grow flex-col max-w-5xl w-full mt-2 mr-2">
                                    <div class="flex">
                                        <input id="img" name="img" type="file"
                                               class="file-input file-input-bordered file-input mt-5 justify-center"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 등록, 취소버튼 -->
                        <div class="flex max-w-5xl w-full justify-end">
                            <div class="flex max-w-5xl w-full justify-end">
                                <div class="flex mt-6">
                                    <button class="btn btn-sm w-20 mr-2 bg-gray-500 hover:bg-gray-700 text-white font-bold rounded-full"
                                            onclick="cancelForm()">
                                        <a href="/post/list">취소</a>
                                    </button>
                                </div>
                            </div>
                            <div class="submit-button flex justify-end">
                                <div class="flex mt-6 mr-2">
                                    <button class="btn btn-sm w-20 bg-blue-500 hover:bg-blue-400 text-white font-bold rounded-full">
                                        <span class="text-center">등록</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</main>
</body>
</html>