<html layout:decorate="~{common/layout/defaultLayout.html}" xmlns:layout="">
<head>
    <title>글수정 - CaloCheck</title>
</head>
<body>
<main class="flex-grow flex items-center justify-center" layout:fragment="Content">
    <script th:inline="javascript">
        function ModifyPost__submit(form) {
            // iComment 이(가) 올바른지 체크
            form.iModifySubject.value = form.iModifySubject.value.trim();
            form.iModifyContent.value = form.iModifyContent.value.trim();// 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.iModifySubject.value === "") {
                toastWarning('제목을 입력해주세요.');
                form.iModifySubject.focus();
                return;
            }

            if (form.iModifySubject.value.length >= 30) {
                toastWarning('제목은 30자 이하로 제한됩니다.');
                form.iModifySubject.focus();
                return;
            }

            if (form.iModifyContent.value === "") {
                toastWarning('내용을 입력해주세요.');
                form.iModifyContent.focus();
                return;
            }

            const $checkediModifyPostTypeRadioButton = $(form).find("[name=iModifyPostType]:checked");

            if ($checkediModifyPostTypeRadioButton.length === 0) {
                toastWarning('게시할 게시판을 선택해주세요');
                $(form).find("[name=iModifyPostType]:first").focus();
                return;
            }

            form.submit();
        }

        function cancelForm() {
            // 취소 버튼 클릭 시 수행할 동작을 여기에 작성합니다.
            // 예: 폼 초기화, 페이지 이동 등
            window.location.href = "/post/list";
        }
    </script>

    <div class="flex flex-col max-w-3xl w-full justify-center">
        <section class="mb-5 max-w-3xl w-full">
            <form class="flex flex-col gap-6" enctype="multipart/form-data" method="POST"
                  onsubmit="ModifyPost__submit(this); return false;"
                  th:action>
                <div class="flex flex-grow max-w-3xl w-full justify-center">
                    <div class="flex flex-col max-w-3xl w-full justify-center mt-20">
                        <div class="flex justify-center">
                            <div class="text-center font-bold text-4xl text-black">
                                게시물 수정
                            </div>
                        </div>
                        <div class="mt-10 flex justify-center">
                            <!-- 제목 입력 부분-->
                            <div class="flex flex-grow max-w-3xl w-full flex-col mx-2">
                                <!-- 제목 -->
                                <div class="mt-6 text-gray-500 font-semi-bold mr-2">
                                    제목
                                </div>
                                <!-- 제목 입력 -->
                                <div class="flex flex-grow max-w-3xl w-full justify-center mt-2 mr-2">
                                    <input class="border flex flex-grow max-w-3xl w-full border-black border-opacity-10 h-10 p-4"
                                           id="id-input" name="iModifySubject"
                                           th:value="${post.getSubject()}"
                                           type="text"/>
                                </div>
                                <!-- 내용 -->
                                <div class="mt-6 text-gray-500 font-semi-bold mr-2">
                                    내용
                                </div>
                                <!-- 내용 입력 -->
                                <div class="flex flex-grow max-w-3xl w-full justify-center mt-2 mr-2">
                            <textarea
                                    class="border flex flex-grow max-w-3xl w-full border-black border-opacity-10 resize-none p-4 focus:outline-none"
                                    cols="45" name="iModifyContent"
                                    th:text="${post.getContent()}"
                                    rows="15"></textarea>
                                </div>
                                <div class="mt-6 text-gray-500 font-semi-bold mr-2">
                                    카테고리 선택
                                </div>
                                <div class="flex justify-start gap-4 mt-3">
                                    <label class="flex gap-2 items-center cursor-pointer">
                                        <input class="radio peer" name="iModifyPostType" type="radio" value="A">
                                        <span class="text-gray-400 peer-checked:text-gray-900 peer-checked:font-bold peer-focus:text-gray-700">
                                <i class="fa-solid fa-person-rays"></i>
                                자유게시판
                            </span>
                                    </label>

                                    <label class="flex gap-2 items-center cursor-pointer">
                                        <input class="radio peer" name="iModifyPostType" type="radio" value="B">
                                        <span class="text-gray-400 peer-checked:text-gray-900 peer-checked:font-bold peer-focus:text-gray-700">
                                <i class="fa-regular fa-face-smile"></i>
                                식단등록게시판
                            </span>
                                    </label>
                                </div>
                                <div class="mt-6 text-gray-500 font-semi-bold mr-2">
                                    식단 선택
                                </div>

                                <div>
                                    <select class="select select-bordered w-full max-w-xs mt-3" name="selectedFood">
                                        <option disabled selected>어떤 음식에 대한 사진인가요?</option>
                                        <!-- TODO 오늘 내가 등록한 식단으로 옵션을 구성하도록(Member -> DailyFoodInfoList) -->
                                        <option>아침 - 사과</option>
                                        <option>아침 - 바나나</option>
                                        <option>점심 - 조미김</option>
                                        <option>저녁 - 김치찌개</option>
                                        <option>저녁 - 닭가슴살</option>
                                    </select>
                                </div>

                                <div class="flex flex-grow flex-col max-w-3xl w-full mt-2 mr-2">
                                    <div class="flex">
                                        <input class="file-input file-input-bordered file-input mt-5 justify-center"
                                               id="iModifyImg" name="iModifyImg"
                                               type="file"/>
                                    </div>
                                </div>
                                <!-- 등록, 취소버튼 -->
                                <div class="flex max-w-3xl w-full justify-end">
                                    <div class="flex max-w-3xl w-full justify-end">
                                        <div class="flex mt-6">
                                            <button class="btn btn-sm w-20 mr-2 bg-gray-500 hover:bg-gray-700 text-white font-bold rounded-full"
                                                    style="border: white"
                                                    onclick="cancelForm()">
                                                <a th:href="@{|/post/${postId}}">취소</a>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="submit-button flex justify-end">
                                        <div class="flex mt-6 mr-2">
                                            <button class="btn btn-sm w-20 bg-blue-500 hover:bg-blue-400 text-white font-bold rounded-full"
                                                    style="border: white">
                                                <span class="text-center">수정</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</main>
</body>
</html>