<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Body Tracking</title>
    <link rel="stylesheet" href="/resource/common/bodyTracking.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
</head>

<body>
<th:block layout:fragment="Content">
    <main class="flex-1 flex justify-center">
        <div class="max-w-3xl w-full px-4 py-4 flex flex-col">
            <div>
                <div class="tab_button flex">
                    <button class="tablink" id="WeightTab" data-tab="Weight" onclick="openData('Weight')">체중</button>
                    <button class="tablink" id="BodyFatTab" data-tab="Body Fat" onclick="openData('Body Fat')">체지방량</button>
                    <button class="tablink" id="MuscleMassTab" data-tab="Muscle Mass" onclick="openData('Muscle Mass')">근육량</button>
                    <button id="openModal" class="ml-auto px-4 py-2">기록하기</button>
                </div>

                <div class="displayModal fixed z-50 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
                    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                        <div class="displayModal inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
                        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
                        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                            <div class="bg-white px-4 pt-5 pb-1">
                                <div class="flex justify-center">
                                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                                        <h3 class="text-lg leading-6 font-medium text-gray-900 mb-5" id="modal-title">
                                            내 신체정보 기록하기
                                        </h3>
                                        <div class="mt-2 flex justify-center">
                                            <form action="#" th:action="@{/tracking/bodyTracking}" method="post" th:object="${tracking}" class="w-full">
                                                <div class="form-container flex flex-row justify-start">
                                                    <label for="date">날짜: </label>
                                                    <input type="date" id="date" th:field="*{dateTime}" min="currentDateFormatted" max="currentDateFormatted">
                                                </div>
                                                <div class="form-container flex flex-row justify-start">
                                                    <label for="myWeight">체중: </label>
                                                    <input type="number" id="myWeight" th:field="*{weight}">
                                                </div>
                                                <div class="form-container flex flex-row justify-start">
                                                    <label for="bodyFat">체지방량: </label>
                                                    <input type="number" id="bodyFat" th:field="*{bodyFat}">
                                                </div>
                                                <div class="form-container flex flex-row justify-start">
                                                    <label for="muscleMass">근육량: </label>
                                                    <input type="number" id="muscleMass" th:field="*{muscleMass}">
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="bg-white px-4 pb-3 flex justify-center">
                                <button id="confirmRecord" type="submit" class="mt-3 mx-2 w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">
                                    기록하기
                                </button>
                                <button id="closeModal" type="button" class="mt-3 mx-2 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">
                                    취소하기
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <canvas id="Weight" class="chart" style="max-width: 800px;"></canvas>
            <canvas id="Body Fat" class="chart" style="max-width: 800px;"></canvas>
            <canvas id="Muscle Mass" class="chart" style="max-width: 800px;"></canvas>

            <div style="width: 200px; border: 1px solid #ccc; border-radius: 10px; padding: 20px; box-shadow: 0px 0px 10px rgba(0,0,0,0.1); margin: 30px auto;">
                <h2 style="margin-bottom: 20px; font-size: 20px; color: #333;">유저 정보</h2>
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <span style="font-weight: bold; color: #666;">이름 :</span>
                    <span th:text="${member.username} + '님'"></span>
                </div>
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <span style="font-weight: bold; color: #666;">나이 :</span>
                    <span th:text="${member.age} + '세'"></span>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <span style="font-weight: bold; color: #666;">키 :</span>
                    <span th:text="${member.height} + 'cm'"></span>
                </div>
            </div>

            <div id="bodyInfo" class="flex justify-center mt-4">
                <div class="max-h-[400px] overflow-y-auto">
                    <table class="table-auto w-full bg-white border">
                        <thead>
                        <tr class = "table_head">
                            <th class="px-4 py-2 border-b">날짜</th>
                            <th class="px-4 py-2 border-b">체중</th>
                            <th class="px-4 py-2 border-b">체지방량</th>
                            <th class="px-4 py-2 border-b">골격근량</th>
                            <th class="px-4 py-2 border-b">bmi</th>
                            <th class="px-4 py-2 border-b">체지방률</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- trackingData를 이용하여 테이블 행을 반복적으로 생성 -->
                        <tr th:each="tracking : ${trackingData}" class="border-b text-black">
                            <td class="px-4 py-2" th:text="${tracking.dateTime}"></td>
                            <td class="px-4 py-2" th:text="${tracking.weight} + 'kg'"></td>
                            <td class="px-4 py-2" th:text="${tracking.bodyFat} + 'kg'"></td>
                            <td class="px-4 py-2" th:text="${tracking.muscleMass} + 'kg'"></td>
                            <td class="px-4 py-2" th:text="${tracking.bmi}"></td>
                            <td class="px-4 py-2" th:text="${tracking.bodyFatPercentage} + '%'"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <script th:inline="javascript">
                $(document).ready(function(){
                    $("#openModal").click(function(){
                        $(".displayModal").show();
                    });

                    $("#closeModal").click(function(){
                        $(".displayModal").hide();
                    });
                    openData('Weight');

                    $("#confirmRecord").click(function() {
                        $("form").submit();

                        const selectedTab = $(".tablink.active").attr("data-tab");
                        displayBodyInfo(selectedTab);
                    });

                });

                function openData(type) {
                    let i, charts, tablinks;
                    charts = document.getElementsByClassName("chart");
                    for (i = 0; i < charts.length; i++) {
                        if (charts[i].id === type) {
                            charts[i].style.display = "block";
                        } else {
                            charts[i].style.display = "none";
                        }
                    }

                    tablinks = document.getElementsByClassName("tablink");
                    for (i = 0; i < tablinks.length; i++) {
                        if (tablinks[i].getAttribute('data-tab') !== type) {
                            tablinks[i].classList.remove("active");
                        } else {
                            tablinks[i].classList.add("active");
                        }
                    }
                }
                const data = /*[[${trackingData}]]*/ [];
                console.log(data);

                const currentDate = new Date();
                const threeMonthsAgo = new Date();
                threeMonthsAgo.setMonth(currentDate.getMonth() - 2); // Subtract 2 because months are zero-based

                const filteredData = data.filter(tracking => new Date(tracking.dateTime) >= threeMonthsAgo);

                const dates = filteredData.map(tracking => tracking.dateTime.slice(5));
                const weights = filteredData.map(tracking => tracking.weight);
                const bodyFats = filteredData.map(tracking => tracking.bodyFat);
                const muscleMasses = filteredData.map(tracking => tracking.muscleMass);

                const datasets = {
                    'Weight': weights,
                    'Body Fat': bodyFats,
                    'Muscle Mass': muscleMasses
                };

                const colors = {
                    'Weight': 'blue',
                    'Body Fat': 'yellow',
                    'Muscle Mass': 'green'
                };

                for (let type in datasets) {
                    const ctx = document.getElementById(type).getContext('2d');

                    const chart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: dates,
                            datasets: [{
                                label: type,
                                data: datasets[type],
                                borderColor: colors[type]
                            }]
                        },
                        options: {
                            responsive: true,
                            scales: {
                                x: {
                                    ticks: {
                                        maxTicksLimit: dates.length
                                    }
                                }
                            }
                        }
                    });
                }


                const dateField = document.getElementById('date');
                const currentDateFormatted = new Date().toISOString().split('T')[0];
                dateField.max = currentDateFormatted;
                dateField.min = currentDateFormatted;
                dateField.value = currentDateFormatted;

                /* 테스트용 과거날짜까지 선택 가능
                // Set up date field
                const dateField = document.getElementById('date');
                dateField.max = currentDate.toISOString().split('T')[0];
                dateField.value = currentDate.toISOString().split('T')[0];
                */

            </script>
        </div>
    </main>
</th:block>
</body>
</html>