.user-info {
    width: 700px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    /*box-shadow: 0px 2px 15px rgba(0,0,0,0.1);*/
    background-color: white;
    margin-bottom: 10px;
}

.user-details {
    display: flex;
    justify-content: flex-start;
}

.user-detail-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.detail-title {
    font-weight: bold;
    color: #666;
    font-size: 14px;
    margin-right: 10px;
}

.detail-value {
    font-size: 14px;
    margin-right: 40px;
}

/* 마지막 detail-value 항목에는 margin을 제거 */
.user-detail-item:last-child .detail-value {
    margin-right: 0;
}

#openRecordModal, #openTrackingModal {
    background-color: rgb(59 130 246);
    color: white;
    border-radius: 10px;
    border-color: rgb(59 130 246);
    font-size: 14px;
}

#confirmRecord {
    background-color: rgb(59 130 246);
}

#openRecordModal:hover, #confirmRecord:hover,#openTrackingModal:hover {
    background-color: #3F72AF;
}

#openRecordModal.active, #openTrackingModal.active {
    background-color: #3F72AF;
    color: white;
}

.form-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 8px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    width: 80px;
    text-align: left;
}

.form-input {
    width: 100%; /* 입력 창을 컨테이너에 맞게 확장 */
}

.form-container input[type="date"],
.form-container input[type="number"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 80%;
    box-sizing: border-box;
    font-size: 14px;
}

.form-container button[type="submit"] {
    padding: 8px 16px;
    background-color: rgb(59 130 246);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.form-container button[type="submit"]:hover {
    background-color: #3F72AF;
}

.displayModal {
    display: none;
}

.table_head{
    background-color: #3F72AF;
    color : white;
    border-color: #112D4E;
    text-align: left;
}

.chart {
    width: 100% !important;
    max-width: 800px;
    height: auto !important;
    margin-bottom: 20px;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #3F72AF;
    color: white;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    font-size: 14px;
}

.info-label {
    font-weight: bold;
    margin-right: 5px;
    margin-left: 10px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1em;
    font-size: 14px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.card-header {
    background-color: #dbe2ef;
    color: black;
    padding: 0.5em;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-size: 14px;
}


@media (max-width: 600px) {
    .chart {
        height: 300px !important;
    }

    .displayModal .flex.items-end {
        align-items: center;
        justify-content: center;
    }

    .displayModal .inline-block {
        width: 80%;
        max-width: 80%;
    }
    .card-container {
        align-items: flex-start;
    }

    .card {
        width: 100%;
    }

    .card-body {
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
    }

    #openRecordModal,
    #openTrackingModal {
        width: 80%;
        font-size: 10px;
        padding: 1px 3px;
    }

    .tablink {
        font-size: 12px;
        padding: 3px 8px;
    }

    .join-vertical {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .join-item {
        margin-right: 5px;
        margin-bottom: 5px;
        white-space: nowrap;
    }
}