@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html > body {
    font-family: 'NanumSquareNeo-Variable';
    text-underline-position: under;
    word-break: keep-all;
}

.site-header, .site-footer, .navbar {
    background-color: #112D4E;
}

.menu {
    background-color: #F9F7F7;
}

.box {
    width: 450px;
    height: 450px;
    background-color: #f0f0f0;
    border: 3px solid #ccc;
    padding: 15px;
}

#myPost > li {
    list-style-type: none;
}