<html layout:decorate="~{common/layout/defaultLayout.html}" xmlns:layout="">

<head>
    <title>
        회원가입
    </title>
</head>

<body>

<th:block layout:fragment="Content">

    <div class="flex-grow flex items-center justify-center" >

    <script>
        function joinFormSubmit(form) {

            form.username.value = form.username.value.trim();

            if (form.username.value.length == 0) {
                toastWarning('아이디를 입력해주세요.');
                form.username.focus();
                return;
            }

            if (form.username.value.length < 4 || form.username.value.length > 20) {
                toastWarning('아이디를 4글자 이상, 20글자 이내로 입력해주세요.');
                form.username.focus();
                return;
            }

            form.password.value = form.password.value.trim();

            if (form.password.value.length == 0) {
                form.password.focus();
                toastWarning('비밀번호를 입력해주세요.');
                return;
            }

            if (form.password.value.length < 4 || form.password.value.length > 20) {
                form.password.focus();
                toastWarning('비밀번호를 4글자 이상, 20글자 이내로 입력해주세요.');
                return;
            }

            form.email.value = form.email.value.trim();
            if (form.email.value.length == 0) {
                toastWarning('이메일을 입력해주세요.');
                form.email.focus();
                return;
            }

            // 이메일 유효성 검사
            var emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            if (!emailRegex.test(form.email.value)) {
                toastWarning('유효한 이메일 형식이 아닙니다.');
                form.email.focus();
                return;
            }


            form.nickname.value = form.nickname.value.trim();
            if (form.nickname.value.length == 0) {
                toastWarning('닉네임을 입력해주세요.');
                form.nickname.focus();
                return;
            }

            if (form.nickname.value.length < 2 || form.nickname.value.length > 20) {
                toastWarning('닉네임을 2글자 이상, 20글자 이내로 입력해주세요.');
                form.nickname.focus();
                return;
            }

            var genderSelected = false;
            var genderRadios = form.querySelectorAll('input[name="gender"]');
            for (var i = 0; i < genderRadios.length; i++) {
                if (genderRadios[i].checked) {
                    genderSelected = true;
                    break;
                }
            }
            if (!genderSelected) {
                toastWarning('성별을 선택해주세요.');
                return;
            }

            form.age.value = form.age.value.trim();
            if (form.age.value.length == 0) {
                toastWarning('나이를 입력해주세요.');
                form.age.focus();
                return;
            }

            form.submit(); // 폼 발송
        }
    </script>


    <div class="hero-content flex-col">

        <h2 class="text-4xl mt-5 mx-5 font-bold flex flex-col">
            회원가입
        </h2>

        <form th:action method="POST" class="p-10 flex flex-col gap-4" onsubmit="joinFormSubmit(this); return false;">
            <div class="flex items-center justify-center gap-3">
                <div>
                    <span>성별:</span>
                </div>
                <div>
                    <label>
                        <input type="radio" name="gender" value="M">
                        <i class="fa-solid fa-person"></i>
                        남성
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="gender" value="W">
                        <i class="fa-solid fa-person-dress"></i>
                        여성
                    </label>
                </div>
            </div>
            <div>
                <input type="text" name="username" maxlength="20" size="40" placeholder="아이디" class="input input-bordered">
            </div>
            <div>
                <input type="password" name="password" maxlength="20" size="40" placeholder="비밀번호" class="input input-bordered">
            </div>
            <div>
                <input type="text" name="email" maxlength="30" size="40" placeholder="이메일" class="input input-bordered">
            </div>

            <div class="flex justify-between">
                <div class="flex flex-col gap-4">
                    <div>
                        <input type="text" name="nickname" maxlength="20" size="15" placeholder="닉네임" class="input input-bordered">
                    </div>
                    <div>
                        <input type="text" name="height" size="15" placeholder="키(선택)" class="input input-bordered">
                    </div>
                    <div>
                        <input type="text" name="weight" size="15" placeholder="몸무게(선택)" class="input input-bordered">
                    </div>
                </div>
                <div class="flex flex-col gap-4">
                    <div>
                        <input type="text" name="age" size="15" placeholder="나이" class="input input-bordered">
                    </div>
                    <div>
                        <input type="text" name="bodyFat" size="15" placeholder="체지방량(선택)" class="input input-bordered">
                    </div>
                    <div>
                        <input type="text" name="muscleMass" size="15" placeholder="골격근량(선택)" class="input input-bordered">
                    </div>
                </div>
            </div>

            <div class="flex flex-row mt-3 justify-end">
                <label class="cursor-pointer label">
                    <input name="agree" type="checkbox" class="checkbox checkbox-info"/>
                    <span class="label-text mx-3">이미지 수집 동의</span>
                </label>

                <label for="my_modal_6" class="btn btn" style="background:#112D4E">이미지 수집 안내</label>
            </div>
            <!-- Put this part before </body> tag -->
            <input type="checkbox" id="my_modal_6" class="modal-toggle"/>
            <div class="modal">
                <div class="modal-box">
                    <h3 class="flex justify-center font-bold text-lg">이미지 수집 동의 안내</h3>
                    <br>
                    <p>
                        저희는 이미지 수집을 위한 동의를 받고 있으며, 이를 통해 개인 정보 보호와 관련된 법적 요구 사항을 준수하고 있습니다. 아래는 이미지 수집 동의 안내문입니다.
                    </p>
                    <br>
                    <h2>1. 수집 목적:</h2>
                    <p>
                        이미지 수집은 칼로체크에서 음식 이미지 정보 제공을 위해 사용됩니다.
                    </p>

                    <h2>2. 수집 범위:</h2>
                    <p>
                        수집되는 이미지는 음식 사진들을 수집하고 있습니다.
                    </p>

                    <h2>3. 수집 방법:</h2>
                    <p>
                        이미지는 파일 업로드(웹/모바일)로 가능합니다.
                    </p>

                    <h2>4. 보관 및 보안:</h2>
                    <p>
                        수집된 이미지는 오직 저희 칼로체크 내에서만 사용될 예정이며, 보관될 것을 알려드립니다.
                    </p>

                    <h2>5. 이미지 사용:</h2>
                    <p>
                        수집된 이미지는 칼로체크 내 음식 정보들에 제공되는데 사용되며, 그 외에 경우에도 사용될 수 있음을 알려드립니다.
                    </p>

                    <h2>6. 개인 정보 보호:</h2>
                    <p>
                        저희는 수집된 이미지에 대한 개인 정보 보호를 중요시하며, 관련 법적 요구 사항을 준수합니다. 자세한 내용은 개인 정보 보호 정책을 참조해 주세요.
                    </p>
                    <br>
                    <p>더 자세한 정보 및 동의 절차에 대해서는 개인 정보 보호 정책을 참고하시기 바랍니다. 문의 사항이 있으시면 언제든지 문의해주시길 바랍니다.</p>
                    <br>
                    <p>감사합니다.</p>
                    <br>
                    <p class="flex justify-center font-bold text-lg">CaloCheck</p>
                    <div class="modal-action">
                        <label for="my_modal_6" class="btn">닫기</label>
                    </div>
                </div>
            </div>

            <div class="form-control">
                <input type="submit" value="회원가입" size="30" class="btn btn-accent">
            </div>

        </form>

    </div>
</div>
</th:block>
</body>
</html>
