<html layout:decorate="~{common/layout/defaultLayout.html}" xmlns:layout="">

<head>
    <title>
        마이페이지
    </title>

</head>

<body>

<th:block layout:fragment="Content">

    <div class="flex-grow flex items-center justify-center">

        <div class="hero-content flex-col gap-20">

            <h2 class="text-4xl mt-5 mx-5 font-bold flex flex-col">
                마이페이지
            </h2>

            <div class="flex flex-col justify-center gap-10" style="width: 900px">
                <div class="avatar flex justify-center">
                    <div class="w-48 rounded-full">
                        <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FGHYFr%2FbtrsSwcSDQV%2FUQZxkayGyAXrPACyf0MaV1%2Fimg.jpg"/>
                    </div>
                </div>
                <div class="flex justify-center gap-4">
                    <span class="text-2xl font-bold" th:text="${member.nickname}"></span>
                    <a href="/member/me" th:if="${member.id == @rq.member.id}">
                        <i class="fa-solid fa-gear fa-xl"></i>
                    </a>
                </div>
            </div>

            <div class="flex flex-col justify-center mt-5 gap-1" >
                <div class="flex">
                    <div class="mx-2 text-2xl font-bold">
                        <button id="myInformationBtn">
                            <span>내 정보</span>
                        </button>
                    </div>
                    <div class="divider divider-horizontal !mx-2"></div>
                    <div class="mx-2 text-2xl font-bold">
                        <button id="myPostBtn">
                            <span>내 포스트</span>
                        </button>
                    </div>
                </div>
                <div class="divider !my-1"></div>
            </div>


            <div id="myInformation" class="card flex-shrink-0 w-full shadow-xl bg-base-100" style="width: 400px; height: 500px">
                <div class="card-body flex flex-col gap-10">
                    <div class="mt-10"> 나이 :
                        <span th:text="${member.age}" style="font-weight: bold;"></span>
                    </div>
                    <div> 성별 :
                        <span th:text="${member.gender}" style="font-weight: bold;"></span>
                    </div>
                    <div> 키 :
                        <span th:text="${member.height}" style="font-weight: bold;"></span>
                        cm
                    </div>
                    <div> 몸무게 :
                        <span th:text="${member.weight}" style="font-weight: bold;"></span>
                        kg
                    </div>
                    <div> 골격근량 :
                        <span th:text="${member.muscleMass}" style="font-weight: bold;"></span>
                        kg
                    </div>
                    <div> 체지방량 :
                        <span th:text="${member.bodyFat}" style="font-weight: bold;"></span>
                        kg
                    </div>

                    <div class="flex justify-center">
                        <a th:href="@{|/member/modify/${member.id}|}"
                           th:if="${@rq.login && member.id == @rq.member.id}">
                            <button class="btn btn-xs btn-outline"
                                    th:attr="data-member-id=${@rq.member.id}">수정하기
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div id="myPost" class="hidden flex flex-col">
                <li th:unless="${#lists.size(postViewerList)} == 0">
                    <div th:each="post, loop : ${postViewerList}">
                        <form th:action method="GET" id="postForm">
                            <input type="hidden" id="page" name="page" th:value="${postPaging.number}">
                        <div class="mt-5 flex flex-row gap-4">
                            <a th:href="@{|/post/${post.postId}|}"
                               class="card flex-shrink-0 w-full shadow-xl bg-base-100"
                               style="width: 400px">
                                <div class="card-body">
                                    <div class="flex justify-between">
                                        <div th:text="${post.subject}" class="text-lg font-bold "></div>
                                        <div class="flex flex-col gap-1">
                                            <div th:text="${#temporals.format(post.createDate, 'yy년 MM월 dd일')}" class="text-xs"></div>
                                            <div class="flex flex-end gap-1">
                                                <i class="fa-regular fa-thumbs-up"></i>
                                                <span th:text="${post.popularity}" class="text-xs"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        </form>
                    </div>
                </li>
                <div>
                    <div th:if="${#lists.size(postViewerList)} == 0">
                        <div class="flex justify-center font-bold">
                            작성한 글이 없습니다.
                        </div>
                    </div>
                </div>

                <!-- 페이징 처리를 표시합니다 -->
                <div th:if="${!postPaging.isEmpty()}" class="flex mx-2 my-5">
                    <ul class="pagination justify-content-center flex justify-center flex-grow btn-group">
                        <li th:if="${postPaging.hasPrevious()}" class="page-item" th:classappend="${page == 0} ? 'disabled'">
                            <a class="page-link btn text-xs" href="javascript:void(0);"
                               th:data-page="${postPaging.number - 1}">이전</a>
                        </li>
                        <li class="page-item" th:each="page : ${#numbers.sequence(0, postPaging.totalPages - 1)}"
                            th:if="${page >= postPaging.number - 5 and page <= postPaging.number + 5}">
                            <a th:disabled="${page == postPaging.number}" class="page-link btn text-xs"
                               href="javascript:void(0);" th:data-page="${page}"
                               th:text="${pageNum+1}"></a>
                        </li>
                        <li class="page-item" th:if="${postPaging.hasNext()}">
                            <a class="page-link btn text-xs" href="javascript:void(0);"
                               th:data-page="${postPaging.number + 1}">다음</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script>
        const myInformationBtn = document.getElementById("myInformationBtn");
        const myInformation = document.getElementById("myInformation");
        const myPostBtn = document.getElementById("myPostBtn");
        const myPost = document.getElementById("myPost");

        const page_elements = document.getElementsByClassName("page-link");
        Array.from(page_elements).forEach(function (element) {
            element.addEventListener('click', function () {
                document.getElementById('page').value = this.dataset.page;
                document.getElementById('postForm').submit();
            });
        });

        // 버튼 이벤트
        myInformationBtn.addEventListener("click", () => {
            myInformation.style.display = "block";
            myPost.style.display = "none";

            myPostBtn.style.fontWeight = "normal";
            myInformationBtn.style.fontWeight = "bold";
        });

        myPostBtn.addEventListener("click", () => {
            myPost.style.display = "block";
            myInformation.style.display = "none";

            myInformationBtn.style.fontWeight = "normal";
            myPostBtn.style.fontWeight = "bold";
        });
    </script>
</th:block>
</body>
</html>